*, :root 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board, #overlay
{

  width: 50vw;
  height: 50vw;
}

#overlay
{
  position: absolute;
  left: 0;
  top: 0;
  /* pointer-events: none; */
}